<div class="form-group" style="margin-top: 100px">
    <label for="id-mapper">Mapper</label>
    <textarea class="form-control" 
              id="id-mapper" 
              rows="10" 
              placeholder="{{ placeholder }}" 
              spellcheck="false"
              disabled>{{ formattedOutput }}</textarea>
  </div>