<div class="form-group" style="margin-top: 100px">
  <label for="id-dto">Dto</label>
  <textarea class="form-control" 
            id="id-dto" 
            rows="10" 
            placeholder="{{ placeholder }}" 
            spellcheck="false"
            disabled>{{ formattedOutput }}</textarea>
</div>