<section>
  <div class="row col-md-12">
    <div class="col-md-4">
      <app-textarea (textChange)="updateText($event)"></app-textarea>
    </div>
    <div class="col-md-4">
      <app-textarea-dto></app-textarea-dto>
    </div>
    <div class="col-md-4">
      <app-textarea-mapper></app-textarea-mapper>
    </div>
  </div>
</section>
