<div class="form-group" style="margin-top: 100px">
  <label for="id-entity">Entity</label>
  <textarea class="form-control" 
            id="id-entity" 
            rows="10" 
            placeholder="{{ placeholder }}" 
            spellcheck="false"
            (input)="valueChange($event.target.value)"></textarea>
</div>